<footer>
  <div class='footer-img footer-divs'>
    <p>Created by</p>
    <a href='https://github.com/RustamYuburov' target='_blank'>Rustam Yuburov</a>
  </div>

  <div class='footer-github footer-divs'>
    <p>Check the code !</p>
    <a href='https://github.com/RustamYuburov/members-only' target='_blank'>
      <img class="github-logo" src='/images/github.png' alt='Github Logo Image' />
    </a>
  </div>
</footer>